:root {
  --header-colour: #b4c578;
  --background-colour: #e5d3b3;
  --secondary-colour: #c6c0b5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url('./resources/wood-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
}

html {
  height: 100%;
}

#root {
  height: 40rem;
  width: 70rem;
}

@media screen and (max-width: 1120px) {
  #root {
    width: 100%;
    height: 100%;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
